  <!--ROW #1-->
        <div class="row " >
            <div class="col-md-12" >
                    <p class=" col-md-12 white-background">
                    join millions of the policy owners who are managing their accounts
                    </p>
            </div>
            
        </div>
        <!--ROW #2-->
        <div class="row" >
            <div class="col-md-12">
                     <div class="col-md-12 white-background">
                        <span class="col-md-12">
                            NOTICE
                        </span>
                    </div>
                    <div class="col-md-12 white-background">
                        <span class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        </span>
                    </div>
                    <div class="col-md-12 white-background">
                        <span class="col-md-12 text-right">
                            UPDATE PROFILE
                        </span>
                    </div>
               
            </div>
           
        </div>
        <!--ROPW #3-->
        <div class="row">
            <!--<div style=""> Payments</div>
            <div class="row inner-row white-background" >                -->
                <div class="col-md-12">
                     <payment></payment> 
                 </div>
                             
            <!--</div>
            <div class="col-footer white-background">
                <label>* Recent policy changes may not be reflected in the amount due.Recent policy changes may not be reflected in the amount due.</label>
            </div>            -->
        </div>
        <!--ROW #4-->
        <div class="row" >
            <div class="col-md-12">
                
                    <!--claims-->
                    <claims></claims>
                
                    <!--Get ID Cards-->
                    <cards></cards>   
               
            </div>       
        </div>
        <!--ROW #5-->
        <div class="row" >
             <div class="col-md-12">
            <!--Need Help-->
            <needhelp></needhelp>
           
            <!--Dairyland feed-->
            <dairy-feed></dairy-feed>
            </div>
        </div>