
<div class="col-md-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                    <label class="h3">
                            Get Id Cards
                    </label>
            </div>                                
         </div>
                <div class="row border-top white-background text-center">
                    <div class="col-xs-12">
                    <label class="h4">
                            Select a card to download
                    </label>
            </div> 
                        
                    
                </div>
                <div class="row white-background">
                    <div class="col-md-6">   
                        <div class="container-fluid">
                            
                                    <div class="well text-center">
                                        <p>Auto ID Card</p>
                                        <p>Issued : 07/05/2015</p>
                                    </div>                                                               
                        </div>                                             
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">                            
                            <div class="well text-center">
                                <p>Cycle ID Card</p>
                                <p>Issued: 07/05/2015</p>
                            </div> 
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">VIEW ALL</div>                        
                    </div>                    
                </div>
    </div>
                
</div>  