<div class="container">
    <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                                <div class="col-sm-6">
                                    <h4>Name and Contact information</h4>
                                </div>
                                <div class="col-sm-3 col-sm-offset-3">
                                   <h4> <a>EDIT</a></h4></div>
                        </div>  
                        <div class="row">
                            <div class="col-sm-3">First Name</div>
                            <div class="col-sm-7">John</div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Last Name</div>
                            <div class="col-sm-7">Beckham</div> 
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Mobile Phone</div>
                            <div class="col-sm-7">(715)222-1111</div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Email and Password</h4>
                    </div>
                    <div class="col-sm-2 col-sm-offset-6">EDIT</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Email(user ID)</div>
                    <div class="col-sm-7">xue.lee@sentry.com</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Password</div>
                    <div class="col-sm-7">
                        <input type="password" value="123456789"/>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">

        <div class="col-sm-12">

<div class="col-sm-12 white-background border-top">
            <div class="row">
                <h3>Account Settings</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Paperless & alerts</h4>
                </div>
                <div class="col-sm-2 col-sm-offset-6"></div>
            </div>
            <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-ok" ></span>
                        Enrolled
                    </div>
                    <div class="col-sm-7">
                        <h4>Go Paperless</h4>
                        <p>sing up sothat docuemnts will be sent throught the US Postal Service. You can view and print all your documents online.</p>
                    </div>
                    <div class="col-sm-2">
                        EDIT
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-remove" ></span>
                        Not Enrolled
                    </div>
                    <div class="col-sm-7">
                        <h4>Bill reminders</h4>
                        <p>Receive notification one week before my payment is due</p>
                    </div>
                    <div class="col-sm-2">
                        <a>EDIT</a>
                    </div>
            </div>

                <div>
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-ok" ></span>
                        Enrolled
                    </div>
                    <div class="col-sm-7">
                        <h4>Document notifications</h4>
                        <p>Receive an email or text when  new documents are ready to view and print</p>
                    </div>
                    <div class="col-sm-2">
                        <a>EDIT</a>
                    </div>
                </div>
        </div>
        </div>
       
        



    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h4>Billing Settings</h4>
            </div>
            <div class="row">
                <p>
                    Automatic payments
                </p>
            </div>
            <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-remove" ></span>
                        Not Enrolled
                    </div>
                    <div class="col-sm-7">
                        <h4>Auto policy # TX51251252</h4>
                        <p>Next due date: 07/05/2016</p>
                    </div>
                    <div class="col-sm-2">
                        <a>EDIT</a>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                        <span class="glyphicon glyphicon-ok" ></span>
                        Enrolled
                    </div>
                    <div class="col-sm-7">
                        <h4>Auto policy # TX51251252</h4>
                        <p>Next due date: 07/05/2016</p>
                    </div>
                    <div class="col-sm-2">
                        <a>EDIT</a>
                    </div>
            </div>
        </div>
    </div>
</div>




<div class="container" style="position:absolute; top:50%; left:0%;width:50%; height:50%; background:red">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-12">
            <p> Edit name and contact info</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </form>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <p> Changing this information will only be reflected for the mobile app and online. to change the offical document information please call 1-800-0000</p>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12">           
            <button type="button" class="btn btn-primary btn-sm pull-left">Cancel</button>            
            <button type="button" class="btn btn-default btn-sm pull-right">Update</button>
        </div>             
    </div>
  
</div>