 <!--<div *ngFor="#f of payments">
        <h4> Name : {{f.name}} </h4> <h4>Age: {{f.age}}</h4> 
</div>-->



<div> Payments</div>    
            <div class="row inner-row white-background" >   
                 <div *ngFor="let hero of heroes" class="row item-bottom-border" >
                    <div class="col-md-3">
                        <ul class="list-style">
                            <li><span>Policy Type</span></li>
                            <li>
                                <!--Auto Policy # TX51251225-->
                                <a> {{hero.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-style">
                            <li><span>Next Payment Due</span></li>
                            <li><span>05/02/2016</span></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-style">
                            <li><span>Amount due</span></li>
                            <li><span>$64.85</span><span>R</span></li>
                            <li><a>Auto Payment Off</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button>PayNow</button>
                    </div>
                </div>
                <!--<div class="row item-bottom-border" >
                     <div class="col-md-3">
                        <ul class="list-style">
                            <li>Cycle Policy #</li>
                            <li><a>WV1351353</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-style">
                            <li>Next Payment due</li>
                            <li>09/20/2016</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-style">
                            <li>Amount due</li>
                            <li>$70.00</li>
                            <li><a>Auto Payment Off</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button>PayNow</button>
                    </div>
                </div>-->
          </div>
        <div class="col-footer white-background">
            <label>* Recent policy changes may not be reflected in the amount due.Recent policy changes may not be reflected in the amount due.</label>
        </div> 