
<ul class="side-nav">
           <li>
               <span>
                   Welcome
               </span>
          </li>
           <li>
               John Belman
           </li>
           <li>
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
               <a [routerLink]="['Home']" routerLinkActive="active">Home</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
               <a [routerLink]="['Home']" routerLinkActive="active">Billing</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
               <a [routerLink]="['Home']" routerLinkActive="active">Policies</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
               <a [routerLink]="['Home']" routerLinkActive="active">Claims</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
               <a [routerLink]="['Home']" routerLinkActive="active">Contact</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <a [routerLink]="['settings']" routerLinkActive="active">Settings</a>
           </li>
       </ul>
