<div class="col-md-5  inner-row-col">
                <div class="col-header"> 
                    <label class="col-header-label">Dairyland feed</label>
                </div>
                <div class="row col-body white-background">
                   <div class="col-body-content">
                       <ul>
                        <li>
                            <span>New</span>
                            <span>kjnsdjk jsdbafjb jksbadflu basuildgf jlbadlugfusd jbluisagdfs iugashdfuigsadb sdabuasldgfusdgfuas</span>                            
                        </li>
                        <li>
                            <span>New</span>
                            <span>iuherlq iweugrouwq jhsbdfhjsad egruywq kjsbdfjbzcuym, mxczvjkuias kjgxougdsbfa.nfdsauigawebajebwrwlieugasuyvsdkajbcsd.jkabfsg</span>                            
                        </li>
                    </ul>
                   </div>
                   <div class="col-footer">
                       <label>View ALL</label>
                   </div>                                        
                </div>
            </div>
